@model List<EntityLayer.Concrete.AnimalGive>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}


<h6>Hayvan Barınağına Hayvan Gönderme Başvurular</h6>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Zaman </th>
        <th>Kullananici</th>
        <th>Hayvan İsmi</th>
        <th>Hayvan ID</th>
        <th>Aktif</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnimalGiveId</td>
            <td>@item.time</td>
            <td>@item.AppUser.UserName</td>
            <td>@item.Animal.Name</td>
            <td>@item.Animal.AnimalId</td>
            <td>@item.Status</td>
            <td><a href="/Admin/AnimalGive/Active/@item.AnimalGiveId" class="btn btn-outline-danger">Aktif Yap</a></td>
            <td><a href="/Admin/AnimalGive/Passive/@item.AnimalGiveId" class="btn btn-outline-danger">Pasif Yap</a></td>
        </tr>
    }
</table>







