@model Project.Models.RegisterViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/Layouts/_HomeLayout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">@Localizer["title"]</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form asp-action="SignUp" method="post">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>@Localizer["mail"]</label>
                            <input type="text" class="form-control" asp-for="Email" required="">

                        </div>
                        <div class="form-group col-md-6">
                            <label>@Localizer["sifre"]</label>
                            <input type="password" class="form-control" asp-for="Password" required="">
                            <span asp-validation-for="Password"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>@Localizer["yas"]</label>
                            <input type="text" class="form-control" asp-for="Age" >
                        </div>
                        <div class="form-group col-md-6">
                            <label>@Localizer["adres"]</label>
                            <input type="text" class="form-control" asp-for="Adress">
                        </div>

                    </div>
                    <input type="submit" class="btn btn-success" value="@Localizer["kayıt"]" />
                </form>

            </div>
        </div>
    </div>
</section>



</html>
