@model EntityLayer.Concrete.AnimalRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layouts/_MemberLayout.cshtml";
}

<h1>Detay</h1>

<table class="table table-bordered">
    <tr>
        <th>@Localizer["resim"]</th>
        <th>@Localizer["isim"]</th>
        <th>@Localizer["yas"]</th>
        <th>@Localizer["barınak"]</th>
        <th>@Localizer["kim"]</th>
        <th>@Localizer["gelis"]</th>
    </tr>


    <tr>
        <td>@Model.Animal.Image</td>
        <td>@Model.Animal.Name</td>
        <td>@Model.Animal.Age</td>
        <td>@Model.Animal.AnimalHouse.Name</td>
        <td>@Model.AppUser.UserName</td>
        <td>@Model.time</td>
        <td><a href="/Member/Basvuru/Index?id=@Model.AnimalRequestId" class="btn btn-sucess">@Localizer["basvur"]</a></td>
    </tr>



</table>