@model List<EntityLayer.Concrete.Animal>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
}

<h5>Hayvanlar</h5>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>İsim</th>
        <th>Yaş</th>
        <th>Durum</th>
        <th>Tür</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AnimalId</th>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Status</td>
            <td>@item.AnimalType.Name</td>
            
            <td><a class="btn btn-outline-success" href="/Admin/Animal/Active/@item.AnimalId">Aktif Yap</a></td>
            <td><a class="btn btn-outline-warning" href="/Admin/Animal/Passive/@item.AnimalId">Pasif Yap</a></td>
        </tr>
    }
</table>
