@model List<EntityLayer.Concrete.AnimalGive>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/_MemberLayout.cshtml";
}

<h1>@Localizer["title"]</h1>


<table class="table table-bordered">
    <tr>
        <th>@Localizer["durum"]</th>
        <th>@Localizer["zaman"]</th>
        <th>@Localizer["isim"]</th>
        <th>@Localizer["yas"]</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    string durum;
                    if (item.Status == false)
                    {
                        durum = "Onay Bekliyor";
                    }
                    else
                        durum = "Onaylandı";

                }
                @durum

            </td>
            <td>@item.time</td>
            <td>@item.Animal.Name</td>
            <td>@item.Animal.Age</td>
        </tr>
    }
</table>